@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.preview {
  width: min(100%);
  position: relative;
  margin: 20px auto;
  max-height: 620px;
  min-height: 300px;
}

.preview > img {
  width: 100%;
}

.preview > video {
  width: 100%;
  object-fit: contain;
}

.pg-viewer-wrapper {
  height: 620px !important;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.close {
  padding: 10px 15px;
  border-radius: 999px;
  outline: none;
  border: none;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn {
  padding: 8px 18px;
  border: none;
  cursor: pointer;
  transition: 100ms ease-in-out;
  background-color: black;
  color: white;
  border: 2px solid black;
  border-radius: 999px;
}
.btn:hover {
  opacity: 0.8;
}

.pl {
  display: block;
  width: 8em;
  height: 8em;
}
.pl__ring,
.pl__ball1,
.pl__ball2 {
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform-origin: 32px 32px;
}
.pl__ring {
  animation-name: ring;
}
.pl__ball1 {
  animation-name: ball1;
}
.pl__ball2 {
  animation-name: ball2;
}

/* Dark theme  */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 10%, 10%);
    --fg: hsl(var(--hue), 10%, 90%);
  }
}

/* Animation */
@keyframes ring {
  from {
    animation-timing-function: ease-in-out;
    stroke-dashoffset: -122.52;
    transform: rotate(135deg);
  }
  15% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -122.52;
    transform: rotate(90deg);
  }
  35% {
    animation-timing-function: ease-out;
    stroke-dashoffset: -65.34;
    transform: rotate(297.5deg);
  }
  55% {
    animation-timing-function: ease-in-out;
    stroke-dashoffset: -122.52;
    transform: rotate(505deg);
  }
  70% {
    animation-timing-function: ease-in-out;
    stroke-dashoffset: -122.52;
    transform: rotate(490deg);
  }
  85%,
  to {
    stroke-dashoffset: -122.52;
    transform: rotate(497.5deg);
  }
}
@keyframes ball1 {
  from {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-7deg);
  }
  60% {
    transform: rotate(399deg);
  }
  75% {
    transform: rotate(361deg);
  }
  90%,
  to {
    transform: rotate(374deg);
  }
}
@keyframes ball2 {
  from {
    transform: rotate(-21deg);
  }
  25% {
    transform: rotate(-47deg);
  }
  60% {
    transform: rotate(364deg);
  }
  75% {
    transform: rotate(326deg);
  }
  90%,
  to {
    transform: rotate(339deg);
  }
}

.Pdf {
  width: 100% !important;
  height: 620px !important;
}

.spinner {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 100;
  left: 50%;
  bottom: 50%;
  width: 40px;
}
